/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Titan+One');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
/*.distance_button{*/

/*  margin-top: 10px;*/

/*  margin-left: 10px;*/

/*  margin-right: 10px;*/

/*  margin-bottom: 10px;*/

/*}*/

.distance_button {
  margin-top: 2px;
  margin-bottom: 2px;
}

.map_wrap {
  margin-top: -30px;
  font-family: 'Do Hyeon', sans-serif;
  padding: 6px 50px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  color: black;
  background-color: skyblue;
  border-radius: 4px;
  padding: 10px 100px;
}

#category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.distance_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.daum_map {
  border-style: solid;
  border-radius: 10%;
  top: 40px;
  position: relative;
}

.select {
  width: 200px;
  height: 30px;
  padding-left: 10px;
  font-size: 18px;
  color: #006fff;
  border: 1px solid #006fff;
  border-radius: 3px;
}

.form_control {
  position: relative;
  left: 800px;
  bottom: 500px;
}

.many_img {
  display: flex;
  justify-content: center;
  left: 700px;
  bottom: 300px;
}

.daum_map {
  top: 0;
}

#map {
  display: flex;
  position: relative;
  justify-content: center;
  width: 90%;
  height: 500px;
  margin-bottom: 20px;
}

.con, .bank, .drug, .mart, .cafe {
  margin-left: 40px;
}

.check_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.check_box_mother1 {
  display: flex;
  flex-direction: column;
}

.check_box_mother2 {
  display: flex;
  flex-direction: column;
}

.check_box_mother3 {
  display: flex;
  flex-direction: column;
}

.check_box_mother4 {
  display: flex;
  flex-direction: column;
}

.check_box_mother5 {
  display: flex;
  flex-direction: column;
}

.check_box1, .check_box2, .check_box3, .check_box4, .check_box5 {
  position: relative;
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: center;
}

.number_box {
  display: flex;
  left: 750px;
  bottom: 290px;
}

.con_num, .bank_num, .drug_num, .mart_num, .cafe_num {
  margin-left: 80px;
}

.header_wrap {
  border-style: solid;
  border-radius: 2%;
  border-color: white;
  /*width:50%;*/
  /*height: 50px;*/
  text-align: center;
  background-color: skyblue;
}

.addrment {
  letter-spacing: 3pt;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 25pt;
}

.check_box {
  font-size: 20pt;
  font-family: 'Do Hyeon', sans-serif;
}

.out {
  width: 200px;
  height: 200px;
  margin-top: 200px;
}

.final {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 50pt;
  text-align: center;
  display: flex;
  justify-content: center;
}
